@import "./variables.css";

.body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.5em 6.25em 6.87em 6.25em;
}

.mainTitle {
  color: var(--primary-color);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.logo {
  height: 3.125em;
}

#main {
  margin-bottom: 7.5em;
}

.error-wrapper {
  display: none;
  margin: 12.5em 0;
}

.error {
  text-align: center;
  font-size: var(--medium-font-size);
}

.photographer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.5em;
}

.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-link {
  text-decoration: none;
  text-align: center;
}

.photographer-picture {
  height: 12.5em;
  width: 12.5em;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  object-fit: cover;
}

.photographer-name {
  color: var(--secondary-color);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0.6em 0 0 0;
}

.photographer-location {
  margin: 0;
  color: var(--primary-color);
  font-size: 1em;
  line-height: 1em;
  font-weight: var(--medium-font-weight);
}

.photographer-tagline {
  font-size: 0.63em;
  margin: 0.5em 0;
}

.photographer-price {
  color: var(--light-grey);
  font-size: 0.56em;
  margin: 0;
}
