@import "./variables.css";

.body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.modal-background {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: -1;
}

.header {
  height: 5.625em;
  padding: 2.5em 6.25em;
}

.logo {
  height: 3.125em;
}

.error-wrapper {
  display: none;
  margin: 12.5em 0;
}

.error {
  text-align: center;
  font-size: var(--medium-font-size);
}

.redirection-link {
  display: flow;
  text-align: center;
  font-size: var(--medium-font-size);
  text-decoration: none;
  color: var(--primary-color);
}

.photographer-presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  height: 18.75em;
  margin: 0 6.25em;
  padding: 3.5em 3em;
}

.photographer-profile_wrapper {
  width: calc(33%);
}

.photographer-name {
  color: var(--secondary-color);
  font-size: var(--large-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.photographer-location {
  color: var(--primary-color);
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  margin: 1em 0;
}

.photographer-tagline {
  color: var(--dark-grey);
  font-size: 1.125em;
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.photographer-picture {
  height: 12.5em;
  width: 12.5em;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  object-fit: cover;
}

.medias {
  display: flex;
  flex-direction: column;
  margin: 0 6.25em 6.25em 6.25em;
}

.filter-item_wrapper {
  margin: 1.5em 0 3.5em 0;
  display: flex;
  gap: 1.5em;
  align-items: center;
}

#filter-label {
  font-size: 1.125em;
  font-weight: 700;
}

.option-items-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1em;
  gap: 0.8em;
  border-radius: 5px;
}

.item {
  color: white;
  background-color: var(--primary-color);
  border: none;
  font-size: 1.125em;
  font-weight: var(--large-font-weigh);
  cursor: pointer;
  text-align: left;
}

.arrow-icon {
  margin-left: 1.6em;
  transform: rotate(180deg);
  cursor: pointer;
}

.date-item {
  display: none;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding: 0.7em 0.375em;
}

.title-item {
  display: none;
}

.medias-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 5.938em;
  flex-wrap: wrap;
}

.media {
  width: 21.875em;
  height: 18.75em;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.media-informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.875em;
  color: var(--primary-color);
  margin-top: 0.5em;
  gap: 0.5em;
}

.media-title {
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.likes-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.likes-number {
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.like-icon {
  cursor: pointer;
}

.medias-likes-wrapper {
  background-color: var(--tertiary-color);
  padding: 0.5em 1.5em;
  display: flex;
  gap: 2em;
  width: fit-content;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 2.25em;
  font-size: var(--small-font-size);
  font-weight: 500;
  border-radius: var(--border-radius);
}

.total-medias-likes-wrapper {
  display: flex;
  gap: 0.25em;
}

.media-likes-text {
  margin: 0;
}

.contact-button {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--white-color);
  padding: 0.9em 0;
  border: none;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 9em;
}

#contact-modal {
  border-radius: var(--border-radius);
  background-color: var(--tertiary-color);
  width: 30%;
  z-index: 1;
  padding: 2em;
  border: none;
  box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
  margin: 1.5em auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 1em;
}

.form-close-icon {
  cursor: pointer;
}

.modal-title {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.form-data_wrapper {
  width: 100%;
}

.form-data[data-error]::after {
  content: attr(data-error);
  color: var(--black-color);
  display: block;
  text-align: right;
  opacity: 0;
  text-align: left;
}

.form-data[data-error-visible="true"]::after {
  opacity: 1;
  margin: 0.5em 0;
}

[aria-invalid="true"] {
  outline: 2px solid red;
}

.modal-label {
  font-size: var(--small-font-size);
  color: #312e2e;
  font-weight: var(--medium-font-weight);
}

.modal-input {
  width: 100%;
  height: 2em;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--small-font-size);
}

#form-message {
  margin: 0;
}

.message-input {
  height: 6em;
}

.form-button {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  border: none;
  font-size: 1.125em;
  padding: 1.5em 3em;
  margin: 1em 0 0 0;
}

#lightbox-modal {
  border: none;
  padding: 1em 2em 1em 6em;
}

.lightbox-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.lightbox-media {
  width: 65.625em;
  height: 50em;
  object-fit: cover;
}

.lightbox-close-icon {
  margin: 1em 0 0 1.5em;
  cursor: pointer;
}

.lightbox-media-title {
  color: var(--primary-color);
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  margin: 0;
}

.lightbox-arrow {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.lightbox-left-arrow {
  left: 3.5%;
}

.lightbox-right-arrow {
  right: 1.5%;
}

.notification-wrapper {
  border: 1px solid #312e2e;
  width: fit-content;
  border-radius: 5px;
  padding: 0.5em 2em;
  background: #312e2e;
  color: var(--white-color);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 2%;
  position: absolute;
}
